@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Quicksand&display=swap');

* {
  margin: 0;
  padding: 0;
}

/* main styling */

body {
  background: url('img/background.jpg');
  display: flex;
  font-family: 'Quicksand', sans-serif;
  color: #fff;
}

.container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(158, 114, 114, 0.8);
  z-index: -1;
}

.container {
  width: 1200px;
  height: 85vh;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 50px auto;
  background-color: rgba(175, 144, 144, 0.8);
  border-radius: 10px;
}

/* headings */

h1,
h3,
h4 {
  text-transform: uppercase;
}

h3,
h4 {
  letter-spacing: 1px;
}

h1 {
  font-family: 'Indie Flower', cursive;
  font-size: 80px;
  margin: 30px 0;
}

h3 {
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 1px dotted #fff;
}

.single-meal-info h4,
.countries-and-categories h4 {
  padding: 10px;
  border-top: 1px dotted #fff;
}

.countries-and-categories h4 {
  margin-bottom: 10px;
  border-bottom: 1px dotted #fff;
}

/* start page with searchbar and boxes for countries and categories */

.search {
  width: 1050px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
  margin: 80px auto 20px auto;
  background-color: rgba(255, 217, 0, 0.3);
  border-radius: 10px;
}

.search p {
  text-transform: uppercase;
  letter-spacing: 0.8px;
}

.countries-and-categories .countries {
  margin-right: 15px;
}

.countries-and-categories .tags {
  font-size: 12px;
}

/* text input (meal search-string) and button-stylings */

input[type='text'],
button {
  font-family: inherit;
  font-size: 14px;
  padding: 8px 10px;
  background-color: #fff;
  border: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

button {
  cursor: pointer;
}

input[type='text'] {
  width: 600px;
}

#search-btn {
  border-radius: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

#random-btn {
  margin-left: 5px;
  border-radius: 50%;
}

#new-search-btn,
#back-btn {
  width: 1050px;
  margin-bottom: 30px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-color: rgba(255, 217, 0, 0.3);
  border-radius: 4px;
}

#back-btn {
  margin-top: 10px;
}

#new-search-btn:hover,
#back-btn:hover {
  background-color: rgba(255, 217, 0, 0.4);
}

input[type='text']:focus,
button {
  outline: none;
}

/* boxes for countries and categories */

.countries-and-categories {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.countries-and-categories .countries,
.countries-and-categories .categories {
  width: 500px;
  padding: 10px;
  background-color: rgba(255, 217, 0, 0.3);
  border-radius: 10px;
}

/* overview of all meals for a search-string */

.meals {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-gap: 10px;
  justify-content: center;
  margin: 20px 75px 0 75px;
}

.meal {
  cursor: pointer;
  justify-self: center;
  position: relative;
  height: 100px;
  width: 100px;
  text-align: center;
}

.meal img {
  width: 100%;
  height: 100%;
  border: 2px #fff solid;
  border-radius: 5px;
}

.meal-info {
  position: absolute;
  top: 0;
  left: 0;
  height: 104%;
  width: 104%;
  background-color: rgba(158, 114, 114, 0.8);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.2s ease-in;
  opacity: 0;
}

.meal:hover .meal-info {
  opacity: 1;
}

/* single meal info page */

.single-meal-info {
  padding: 0 35px;
  margin: 10px auto;
}

.single-meal-info ul {
  list-style-type: none;
  padding-left: 0;
}

.single-meal-info .instructions {
  text-align: left;
  font-size: 0.8rem;
  margin-bottom: 20px;
}

.single-meal-info img {
  height: 200px;
  width: 200px;
  border: 2px #fff solid;
  border-radius: 5px;
}

/* utilities */

.hide {
  display: none;
}

.flex-row {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.box {
  padding: 3px;
  background-color: rgba(255, 217, 0, 0.3);
  border-radius: 5px;
}

.tags {
  display: inline-block;
  font-size: 9px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: rgba(151, 98, 0, 0.8);
  padding: 3px;
  margin: 5px 3px;
  background-color: #fff;
  border-radius: 5px;
}

.countries-and-categories .countries .tags,
.countries-and-categories .categories .tags {
  cursor: pointer;
}

.ml-20 {
  margin-left: 20px;
}

.mt-20 {
  margin-top: 20px;
}

.alert {
  padding: 10px 0;
  background: rgba(158, 114, 114, 0.8);
}

/* responsive design for tablets */

@media (max-width: 1200px) {
  /* responsive styling for the start page */
  .container {
    width: 700px;
  }

  h1 {
    font-size: 50px;
    margin: 40px 0;
  }

  h3 {
    font-size: 1rem;
  }

  .search {
    width: 600px;
    margin: 40px auto 20px auto;
  }

  input[type='text'] {
    width: 250px;
  }

  .countries-and-categories {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .countries-and-categories .countries {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .countries-and-categories .countries,
  .countries-and-categories .categories {
    width: 580px;
  }

  .alert {
    font-size: 0.8rem;
  }

  /* responsive styling for the meals-overview-page */
  #new-search-btn {
    width: 600px;
  }

  .meals {
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 10px;
  }

  .meal {
    height: 70px;
    width: 70px;
  }

  .meal img {
    border: 1px #fff solid;
  }

  .meal-info {
    font-size: 0.9rem;
  }

  /* responsive styling for the single-meal-details-info-page */
  #back-btn {
    width: 600px;
  }

  .flex-row {
    overflow-y: scroll;
    height: 400px;
  }

  .single-meal-info h3,
  .single-meal-info h4 {
    font-size: 0.8rem;
  }

  .single-meal-info > div {
    flex-direction: column;
    align-items: center;
  }

  .single-meal-info img {
    height: 200px;
    width: 200px;
    border: 1px #fff solid;
  }

  .single-meal-info .instructions {
    margin: 20px 0;
  }
}

/* responsive design for smartphones */

@media (max-width: 450px) {
  /* responsive styling for the start page */
  .container {
    width: 350px;
  }

  h1 {
    font-size: 25px;
    margin: 20px 0;
  }

  h3 {
    font-size: 0.8rem;
  }

  h4 {
    font-size: 0.8rem;
  }

  .search {
    width: 300px;
    flex-direction: column;
    padding: 20px 0;
    margin: 20px auto 20px auto;
  }

  .search p {
    margin-top: 15px;
    font-size: 0.8rem;
    margin-left: 0;
  }

  #random-btn {
    margin-left: 0;
  }

  .search button {
    margin-top: 5px;
  }

  input[type='text'] {
    width: 200px;
    font-size: 12px;
  }

  button {
    font-size: 12px;
  }

  .countries-and-categories {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .countries-and-categories .countries {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .countries-and-categories .tags {
    font-size: 9px;
  }

  .countries-and-categories .countries,
  .countries-and-categories .categories {
    width: 280px;
  }

  .alert {
    font-size: 0.7rem;
  }

  /* responsive styling for the meals-overview-page */
  #new-search-btn {
    width: 300px;
  }

  .meals {
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 8px;
  }

  .meal {
    height: 50px;
    width: 50px;
  }

  .meal img {
    border: 1px #fff solid;
  }

  .meal-info {
    font-size: 0.7rem;
  }

  /* responsive styling for the single-meal-details-info-page */
  #back-btn {
    width: 300px;
  }

  .flex-row {
    overflow-y: scroll;
    height: 450px;
  }

  .single-meal-info {
    padding: 0 15px;
  }

  .single-meal-info img {
    height: 180px;
    width: 180px;
    border: 1px #fff solid;
  }
}
